{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-7">
        <h1>About me</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor voluptate omnis cum vero ipsum harum
            doloribus, ex quos, minus hic accusantium possimus tempora consectetur impedit deleniti sequi earum
            asperiores quaerat.
        </p>
    </div>
    <div class="col-5">
        <img src="assets/img/slider_puffin_before_mobile.jpg" alt="image" class="img-thumbnail">
    </div>
</div>

{{> footer}}
